@import url(_variaveis.css);
@import url(_reset.css);

body {
    font-family: var(--familia-corpo);
    font-size: var(--tamanho-corpo);
    color: var(--cinza);

    background: url(../../img/fundo-textura.png), url(../../img/fundo-linhas.png);
    background-position: center;
}

.container {
    padding-right: 1rem;
    padding-left: 1rem;
}

.titulo {
    font-size: var(--tamanho-titulo);
}

.titulo--destaque {
    font-family: var(--familia-titulo-destaque);
    color: var(--preto);
    font-size: var(--tamanho-titulo-destaque);
    font-weight: var(--peso-titulo-destaque);

    display: block;

    margin-top: .75rem;
    margin-bottom: .75rem;
}

.alinhamento--esquerda {
    text-align: left;
}

.alinhamento--meio {
    text-align: center;
}

.texto {
    line-height: 26px;
}

hr{
    width: 100%;
    opacity: 0.9;
}

@media screen and (min-width: 1440px){
    :root{
        background-image: url(../../img/splash-desktop.png);
        background-repeat: no-repeat;
        background-position: top 0 right;
        background-size: 50rem;

    }

    body{        
        background: none;                                
        padding-left: 10rem;
        margin-right: 10rem;
    }

    .titulo--destaque{
        font-size: 4rem;
    }

}