.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    box-sizing: border-box;
    width: 100%;

    padding-top: .75rem;
    padding-bottom: .75rem;
}

.cabecalho__logo{
    width: 11.125rem;
}

.cabecalho__carrinho{
    width: 1.75rem;
    align-self: flex-end;
}

.navbar{
    display: none;
}

@media screen and (min-width: 1440px){
    .cabecalho{
        width: 100%;        
        
    }
    .cabecalho__carrinho{
        display: none;
    }

    .navbar{
        display: flex;
        align-items: center;
        flex-direction: row;        
        color:var(--preto);
        font-weight: var(--peso-destaque);        
    }

    .item-menu::after{
        content: "/";
        padding-left: 1rem;
        padding-right: 1rem;        
    }

}