.produto{
    margin-bottom: 1rem;
    padding-top: 2rem;
    padding-left: 50%;

    position: relative;
    overflow: hidden;
    background-color: var(--branco);
    box-shadow: 10px 10px 30px var(--preto-transparente);
    box-sizing: border-box;
    min-height: 12.5rem;
}

.produto__imagem{
    position: absolute;
    top: 50%;
    left: -8rem;
    transform: translateY(-50%);
    z-index: 1;
    width: 18.75rem;
}

.produto__imagem--detalhe{
    box-sizing: border-box;

}

.produto__conteudo{
    position: relative;
    z-index: 2;
}

.produto__detalhe{
    padding-top: 2.5rem;
    margin-bottom: 2.5rem;
    background-position: top -4rem right;
}

.produto__titulo{
    margin-top: 0;
    margin-bottom: .5rem;
}

.produto__preco{
    margin-bottom: 1.5rem;
}

.produto__comprar{
    color:var(--amarelo);
    display: flex;
    align-items: center;
}

.produto__comprar--icone{
    display: inline-block;
    width: 0.875rem;
    height: 0.857rem;
    margin-left: 1.75rem;
    background-image: url(../../img/icones/seta.svg);
}

.produto__descricao{
    box-sizing: border-box;
    padding-top: 2rem;
    padding-bottom: 2rem;
     
    background-color: var(--branco);
    box-shadow: 10px 10px 30px var(--preto-transparente);
    margin-bottom: 3.625rem;
}
 
@media screen and (min-width:1440px){

    :root{
        background-image: url(../../img/splash-produto.png);
        background-repeat: no-repeat;
        background-position: top 10rem left;
        background-size: 50rem;

    }
    .produtos{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 0.8fr 0.9fr;
        gap: 0.75rem 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "produto produto produto"
          "produto produto produto";
    }

    .produto__titulo {
        font-size: 2rem;
    }

    .produto__imagem{    
        position: absolute;
        left: 1.25rem;                
        width: 11rem;
    }

    .produto__detalhe {  
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-auto-rows:1fr;
        gap: 0px 0px;
        grid-auto-flow: column;
        grid-template-areas:
          "produto__imagem--detalhe produto__titulo--detalhe"
          "produto__imagem--detalhe produto__preco"
          "produto__imagem--detalhe produto__texto"
          "produto__imagem--detalhe botoes__produto--detalhe";
      }
      
    .produto__imagem--detalhe{ 
        grid-area: produto__imagem--detalhe;
        width: 35rem;
        height: auto; 
    }
      
    .botoes__produto--detalhe{ 
        grid-area: botoes__produto--detalhe;        
    }
      
    .produto__preco{ 
        grid-area: produto__preco; 
    }
      
    .produto__texto{ 
        grid-area: produto__texto;
        padding-bottom: 3rem;
        text-align: justify; 
    }
      
    .produto__titulo--detalhe{ 
        grid-area: produto__titulo--detalhe; 
    }   
    
    #myBtn{
        width: 12rem;
        margin-right: 1.5rem;
    }

    #botaoCarrinho{
        width: 20rem;
    }

    .produto__descricao{
        margin-bottom: 15rem;
        width: 100%;

    }

}